<div class="card m-3">
    <div class="row no-gutters">
        <div class="mx-auto my-auto">
            <img [src]="servUsers.admin.photo">
        </div>
        <div class="card m-3 col-md-8">
            <div class="card-header" id="headingOne">
                <h3 class="card-title">{{servUsers.admin.lastname}}, {{servUsers.admin.firstname}}</h3>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p class="card-text"><em>Email : {{servUsers.admin.email}}</em></p> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card m-3">
    <div class="card-header" id="headingOne">
        <h3 class="card-title">
            Formulaire d'édition d'un administrateur
        </h3>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="sendForm(f)">
                <input class="form-control" name="firstname" [(ngModel)]="admin.firstname" #ctlNom="ngModel" placeholder="Prénom" type="text" required>
                <input class="form-control" name="lastname" [(ngModel)]="admin.lastname" #ctlPrenom="ngModel" placeholder="Nom" type="text" required>
                <input class="form-control" name="email" [(ngModel)]="admin.email" #ctlMail="ngModel" placeholder="Email" type="email" required>
                <input class="form-control" name="password" [(ngModel)]="password" #ctlMail="ngModel" placeholder="Password" type="password">
                <input class="form-control" name="photo" [(ngModel)]="admin.photo" placeholder="Photo" type="text">
                <input class="btn btn-primary" name="envoyer" type="submit" value="ENVOYER" [disabled]="f.invalid">
                <input class="btn btn-primary" name="annuler" type="reset" value="ANNULER">
            </form>
        </div>
    </div>
</div>
<div class="card m-3">
    <div class="card-header" id="headingOne">
        <h3 class="card-title">
            Supprimer un administrateur
        </h3>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body delete">
            <button (click)="deleteUser()" class="btn btn-danger" >
                <span>Supprimer</span>
            </button>
        </div>
    </div>
</div>
