<div class="card m-3">
    <div class="card-header" id="headingOne">
        <h3 class="card-title">
            Formulaire d'ajout d'un utilisateur
        </h3>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="sendForm(f)">
                <input class="form-control" name="name" [(ngModel)]="name" #ctlNom="ngModel" placeholder="Nom du cours" type="text" required>
                <input class="form-control" name="teacher" [(ngModel)]="teacher" #ctlNom="ngModel" placeholder="Adresse mail du professeur" type="email" required>
                <table class="table1">
                    <tr>
                        <td>Promotion :</td>
                        <td>Spécialité :</td>
                        <td *ngIf="!displayING3">Groupe :</td>
                    </tr>
                    <tr>
                        <td><select class="form-control" name="promotion" size="1" [(ngModel)]="promotion" (change)="onChange()">
                            <option>CPI1
                            <option>CPI2
                            <option>ING1
                            <option>ING2
                            <option>ING3
                        </select></td>
                        <td><select class="form-control" name="specialty" size="1" [(ngModel)]="specialty">
                            <option *ngIf="displayCPI" >1
                            <option *ngIf="displayCPI" >2
                            <option *ngIf="displayING" >GI
                            <option *ngIf="displayING" >GM
                            <option *ngIf="displayING3" >ICC
                            <option *ngIf="displayING3" >IA
                            <option *ngIf="displayING3" >BDA
                        </select></td>
                        <td *ngIf="!displayING3"><select *ngIf="!displayING3" class="form-control" name="group" size="1" [(ngModel)]="group">
                            <option >A
                            <option >B
                        </select></td>
                    </tr>
                </table>
                
                <table class="table1">
                    <tr>
                        <td>Date :</td>
                        <td>Heure :</td>
                        <td>Minute :</td>
                        <td>Durée (heure):</td>
                        <td>Durée (minute) :</td>
                    </tr>
                    <tr>
                        <td>
                            <input matInput [matDatepicker]="picker" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </td>
                        <td>
                            <select class="form-control" name="hour" size="1" [(ngModel)]="hour">
                                <option>08
                                <option>09
                                <option>10
                                <option>11
                                <option>12
                                <option>13
                                <option>14
                                <option>15
                                <option>16
                                <option>17
                                <option>18
                                <option>19
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="minute" size="1" [(ngModel)]="minute">
                                <option>00
                                <option>05
                                <option>10
                                <option>15
                                <option>20
                                <option>25
                                <option>30
                                <option>35
                                <option>40
                                <option>45
                                <option>50
                                <option>55
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="hourDuration" size="1" [(ngModel)]="hourDuration">
                                <option>00
                                <option>01
                                <option>02
                                <option>03
                                <option>04
                                <option>05
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="minuteDuration" size="1" [(ngModel)]="minuteDuration">
                                <option>00
                                <option>05
                                <option>10
                                <option>15
                                <option>20
                                <option>25
                                <option>30
                                <option>35
                                <option>40
                                <option>45
                                <option>50
                                <option>55
                            </select>
                        </td>
                    </tr>
                </table>

                  
                
                
                <!--<select class="form-control" name="status" size="1" [(ngModel)]="status" (change)="onChange()">
                    <option>Etudiant
                    <option>Professeur
                    <option>Administrateur
                </select>
                <input class="form-control" name="password" [(ngModel)]="password" #ctlMail="ngModel" placeholder="Password" type="password" required>
                <input class="form-control" name="photo" [(ngModel)]="photo" placeholder="Photo" type="text">
                <input *ngIf="displayPromotion" class="form-control" name="promotion" [(ngModel)]="promotion" placeholder="Promotion" type="text" required>
                <input *ngIf="displaySpecialty" class="form-control" name="specialty" [(ngModel)]="specialty" placeholder="Spécialité" type="text" required>
                <input *ngIf="displayGroup" class="form-control" name="group" [(ngModel)]="group" placeholder="Groupe" type="text">
                <input *ngIf="displayClassManager" class="form-control" name="classManager" [(ngModel)]="classManager" placeholder="Professeur Principal" type="text">-->
                <input class="btn btn-primary" name="envoyer" type="submit" value="ENVOYER" [disabled]="f.invalid">
                <input class="btn btn-primary" name="annuler" type="reset" value="ANNULER">
            </form>
        </div>
    </div>
</div>
